.imgbg{
    --background: url(../../assets/Login.jpg);
    width: 100%;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.overimg{
    position: relative;
}