<ion-header>
  <ion-toolbar>
    <ion-title>Para reir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slider imagenreir" [options]="slideOpts">
    <ion-slide class="displayflex">
      <div>
      <img src="../../assets/Parareir/+16.png" alt="" class="edadlogo">
      <img src="../../assets/Parareir/peakyblinders.logo.png" alt="" class="serielogo">
      </div>
      <img src="../../assets/Parareir/PeakyBlinders.jpg" alt="">
      <ion-fab horizontal="end">
        <ion-fab-button color="none">
          <img src="../../assets/Parareir/Peakymini.jpg" alt="">
        </ion-fab-button>
        <ion-fab-button color="none" (click)="playvideo()">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">55 mil</ion-label>
        <ion-fab-button color="none" class="displayflex">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">Mi lista</ion-label>
        <ion-fab-button color="none">
          <ion-icon name="navigate-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">100 mil</ion-label>
        <ion-fab-button color="none">
          <ion-icon name="play-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">Ver</ion-label>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="none">
          <ion-icon name="volume-mute-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

    <ion-slide class="displayflex">
      <div>
      <img src="../../assets/Parareir/+16.png" alt="" class="edadlogo">
      <img src="../../assets/Parareir/Mivillanologo.png" alt="" class="serielogo">
      </div>
      <img src="../../assets/Parareir/Mivillano.jpg" alt="">
      <ion-fab horizontal="end">
        <ion-fab-button color="none">
          <img src="../../assets/Parareir/mivillanomini.jpeg" alt="">
        </ion-fab-button>
        <ion-fab-button color="none">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">55 mil</ion-label>
        <ion-fab-button color="none" class="displayflex">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">Mi lista</ion-label>
        <ion-fab-button color="none">
          <ion-icon name="navigate-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">100 mil</ion-label>
        <ion-fab-button color="none">
          <ion-icon name="play-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">Ver</ion-label>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="none">
          <ion-icon name="volume-mute-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
    
    <ion-slide class="displayflex">
      <div>
      <img src="../../assets/Parareir/+16.png" alt="" class="edadlogo">
      <img src="../../assets/Parareir/Househusbandlogo.png" alt="" class="serielogo">
      </div>
      <img src="../../assets/Parareir/Househusband.jpg" alt="">
      <ion-fab horizontal="end">
        <ion-fab-button color="none">
          <img src="../../assets/Parareir/Househusbandmini.jpg" alt="">
        </ion-fab-button>
        <ion-fab-button color="none">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">55 mil</ion-label>
        <ion-fab-button color="none" class="displayflex">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">Mi lista</ion-label>
        <ion-fab-button color="none">
          <ion-icon name="navigate-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">100 mil</ion-label>
        <ion-fab-button color="none">
          <ion-icon name="play-outline"></ion-icon>
        </ion-fab-button>
        <ion-label class="fontboton">Ver</ion-label>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="none">
          <ion-icon name="volume-mute-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>

  </ion-slides>

</ion-content>
