.Titulo{
    position: absolute;
    top: 0;

}

.imagenreir{
    height:100%;
    width: 100%;
}

.edadlogo{
    height: 25px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
}
.serielogo{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    height: 15%;
}

.bgtransparente{
    background: transparent;
}

.fontboton{
    font-size: small;
}

