/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
    background-color: black;
    --ion-text-color: #ffffff;
    --ion-tab-bar-background: black;
    --ion-tab-bar-text:#ffffff;
    --ion-title-background: black;
    --ion-background-color:black;
}

.navcolor{
    background-color: #121212;
    width: 100%;
    position: sticky;
}

header{
    background-color: black;
}
.bgcolor{
    background-color: black;
}

.juegosicono{
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.slider{
    height: 100%;
}
.juegosfont{
    font-size:small;
}

.displayflex{
    display: flex;
    flex-direction: column;
}

.footerbottom{
    position: fixed;
    bottom: 10%;
    width: 100%;
    justify-content : center;
}

.juegostrailer{
    height: auto;
    width: auto;
    border-radius: 10px;
}

.juegosiconotrailer{
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

.videosslide{
    height: 1920px;
    width: 100%;
}